body {
  background-image: url("https://source.unsplash.com/ttw2EsTM8VI");
  background-repeat: no-repeat;
  background-size: cover;
}
.font1{
  color: white;
  text-decoration: underline;
}

.font3{
  color: #ADD8E6;
  }


nav.page-navigation{
  position: fixed;
  padding: 3px;
  margin: 0;
}

.container-fluid {
  text-align: center;
}

.bio {
  text-align: center;
  padding: 15px;
  text-decoration: underline;
}
h3 {
  font-size: 40px;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

#bio-pic {
  padding: 10px;
  margin: auto;
  height: 320px;
  width: 300px;
}
.nav-pills {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: gray;
  float: right;
}
.top-nav a {
  color: gainsboro;
  padding: 8px 12px;
  text-decoration: none;
}
.active a {
  color: gainsboro;
  padding: 8px 12px;
  text-decoration: none;
}
ul.nav li a:hover {
  background-color: #555;
  color: black;
}

.socials {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
}
#media {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 35px;
}


.display .ulsocial li {
  display: inline-block;
}



.sm {
  color: white;
}
.sm a {
  color: white;
  text-decoration: none;
}

#sm1 {
  color: #FCAF45;
  text-decoration: underline;
}




ul.ulsocial li:hover:nth-child(1) a {
  color: #38A1F3;
  background-color: white;
  
}

ul.ulsocial li:hover:nth-child(2) a{
  color:  #833AB4;
  background-color: #E1306C;
  
}
.my-work {
  font-family: monospace;
  font-size: 35px;
  text-decoration: underline;
}

#port{
  text-align: center;
  
}

#dogs{
  font-size: 32px;
  color: black;
}
#jillyLe {
  font-size: 32px;
  color: #fff0f5;
}
/* Contact Styles */
.section {
  padding: 30px;
  margin-left: 775px;
  margin-right: 775px;
  background-image: url('https://source.unsplash.com/BCoRzs1x0xw');
}

/* Resume Styles */

#background{
  background-image: url('https://source.unsplash.com/1_CMoFsPfso');
  background-repeat: no-repeat;
  background-size: cover;
}

.even-top {
    text-align: center;
}