body {
  background-image: url("https://source.unsplash.com/ttw2EsTM8VI");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.font1{
  color: white;
  text-decoration: underline;
}

.font3{
  color: #ADD8E6;
  }


nav.page-navigation{
  position: fixed;
  padding: 3px;
  margin: 0;
  
}

.container-fluid {
  text-align: center;
}

.bio {
  text-align: center;
  padding: 15px;
  text-decoration: underline;
}
h3 {
  font-size: 40px;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

#bio-pic {
  padding: 10px;
  margin: auto;
  height: 320px;
  width: 300px;
}
.nav-pills {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: gray;
  float: right;
}
.top-nav a {
  color: gainsboro;
  padding: 8px 12px;
  text-decoration: none;
}
.active a {
  color: gainsboro;
  padding: 8px 12px;
  text-decoration: none;
}
ul.nav li a:hover {
  background-color: #555;
  color: black;
}

.socials {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
}
#media {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 35px;
}


.display .ulsocial li {
  display: inline-block;
}



.sm {
  color: white;
}
.sm a {
  color: white;
  text-decoration: none;
}

#sm1 {
  color: #FCAF45;
  
}




ul.ulsocial li:hover:nth-child(1) a {
  color: #38A1F3;
  background-color: white;
  
}

ul.ulsocial li:hover:nth-child(2) a{
  color:  #833AB4;
  background-color: #E1306C;
  
}
.my-work {
  font-family: monospace;
  font-size: 35px;
  text-decoration: underline;
}

#port{
  text-align: center;
  
}

#dogs{
  font-size: 32px;
  color: black;
}
#jillyLe {
  font-size: 32px;
  color: #fff0f5;
}

footer {
  position: absolute;
  bottom: 1;
  width: 100%;
  height: 6%;
}
/* Contact Styles */
.section {
  padding: 1%;
  margin-left: 40%;
  margin-right: 40%;
  background-image: url('https://source.unsplash.com/BCoRzs1x0xw');
}

.big-box {
  padding-top: 10%;
}

.bizinq {
  text-align: center;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 2%;
  padding-bottom: 3%;
}



